extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/contact_us.css")

block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
        .maxBox 
            #contactUs
                .left
                    p.label #{text.contactLabel[lang]}
                    p.phone !{text.phone[lang].replace(/\n/g, '<br>')}
                        img(src="/images/icon_phone.png", alt="图标")
                    p.email #{text.email}
                        img(src="/images/icon_email.png", alt="图标")
                    p.label #{text.addressLabel[lang]}
                    p.address !{text.address[lang].replace(/\n/g, '<br>')}
                        img(src="/images/icon_address.png", alt="图标")
                .right               
                    #map
        include components/footer

block script
    script(src="//api.map.baidu.com/api?v=2.0&ak=kGdcVw7mSGgbrBFQwiqfPe3ayWfX7irn")
    script(src="/javascripts/contact_us.js")
