extends layouts/base

block head
    //- link(rel="stylesheet", href="/javascripts/vidbacking/jquery.vidbacking.min.css")
    link(rel="stylesheet", href="/stylesheets/home.css")
block body
    .container
        include components/header
        #videoWrap
            video#myVideo(loop="loop", width="100%")
                source(src="", type="video/mp4")
            //- img#videoImg(src="/images/img_video.png")
            //- video#myVideo(class="vidbacking", poster="/images/icon_video.png", autoplay="autoplay", loop="loop", muted="muted", width="100%")
                //- source(src="/videos/demo.webm" type="video/webm")
                //- source(src="http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v", type="video/mp4")

        //- #workImgs
        //-     .maxBox(style="max-width: 1020px")
        //-         .imgsWrap
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_1.jpg", alt="华岭图片")/
        //-                     p 携手合作 
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_2.jpg", alt="华岭图片")/
        //-                     p 携手合作 
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_3.jpg", alt="华岭图片")/
        //-                     p 携手合作 
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_4.jpg", alt="华岭图片")/
        //-                     p 携手合作 
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_5.jpg", alt="华岭图片")/
        //-                     p 携手合作 
        //-             .imgWrap
        //-                 a(href="#") 
        //-                     img(src="/images/img_work_6.png", alt="华岭图片")/
        //-                     p 携手合作 
        //-     .prevBtn
        //-         i.icon &#xe6b1;
        //-     .nextBtn
        //-         i.icon &#xe6b2;

        
        #companyIntroduct
            .maxBox.clear(style="max-width: 1020px")
                p.text !{text.introduction[lang].replace(/\n/g, '<br/>')}
                .introductEntry.devHistory
                    img(src="/images/img_home_company_1.jpg", alt="img_home_company_1")/
                    .linkWrap
                        a(href="#{text.section_1.url + '/' + lang}") #{text.section_1.title[lang]}
                .introductEntry.coreValue
                    img(src="/images/img_home_company_2.jpg", alt="img_home_company_1")/
                    .linkWrap
                        a(href="#{text.section_2.url + '/' + lang}") #{text.section_2.title[lang]}
        #companyIntroduct_2
            .maxBox.clear
                .row.row-1
                    .imgWrap
                        img(src="/images/img_home_company_3.jpg", alt="img_home_3")/
                        //- .arrow.left
                        .linkWrap
                            a(href="#{text.section_3.url + '/' + lang}") #{text.section_3.title[lang]}
                    .contentWrap
                        .myTitle
                            .text  #{text.section_3.title[lang]}
                        p.content #{text.section_3.content[lang]}
                        a.more(href="#{text.section_3.url + '/' + lang}")
                            img(src="/images/icon_plus.png", alt="+")/   
                            span #{lang == 'cn' ? '了解更多' : lang == 'hk' ? '瞭解更多' : 'Explore More'}
                .row.row-2
                    .imgWrap
                        img(src="/images/img_home_company_4.jpg", alt="img_home_4")/
                        //- .arrow.right
                        .linkWrap
                            a(href="#{text.section_4.url + '/' + lang}") #{text.section_4.title[lang]}
                    .contentWrap
                        .myTitle
                            .text #{text.section_4.title[lang]}
                        p.content #{text.section_4.content[lang]}
                        a.more(href="#{text.section_4.url + '/' + lang}")
                            img(src="/images/icon_plus.png", alt="+")/   
                            span #{lang == 'cn' ? '了解更多' : lang == 'hk' ? '瞭解更多' : 'Explore More'}
        include components/footer
                    
block script
    //- script(src="/javascripts/vidbacking/jquery.vidbacking.min.js")
    //- script(src="/javascripts/html5media.min.js")
    script(src="/javascripts/home.js")
