extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/join_us.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
            p.g-normalText(style="text-align: center;") #{text.paragraph[lang]}

            #recruitments
                each recruit, index in text.recruitments
                    .item(class="#{'recruit_' + index}")
                        .wrap
                            .headline
                                p.big #{recruit.name[lang]}
                                p.small #{recruit.name['en']}
                                .redLine
                            .content
                                p.label 职位信息
                                p.detail !{recruit.detail[lang].replace(/\n/g, '<br>')}

        include components/footer
