extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/join_us.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
            p.g-normalText(style="text-align: center;") #{text.paragraph[lang]}

            img(src="/images/img_joinus.jpg", alt="华岭图片", style="display: block; margin: 10px auto; width: 100%")

            p.g-normalText(style="text-align: center;") #{text.paragraph2[lang]}

            #recruitments
                each recruit, index in text.recruitments
                    .item(class="#{'recruit_' + index}")
                        .wrap
                            .headline
                                p.big #{recruit.name[lang]}
                                if (lang != 'en')
                                    p.small #{recruit.name['en']}
                                .redLine
                            .content
                                p.label #{lang == 'cn' ? '职位信息' : lang == 'hk' ? '職位資訊' : 'Position Information'}
                                p.detail !{recruit.detail[lang].replace(/\n/g, '<br>')}

        include components/footer
