extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/management_team.css")
block body
    .container
        include components/header
        .maxBox(style="max-width: 1020px")
            .g-bigTitle 
                .text #{text.title[lang]}
            p.g-normalText(style="text-align: center;") #{text.paragraph[lang]}

            #teamList
                each team, index in text.teams
                    .item
                        img(src="#{'/images/img_team_'+ (index + 1) +'.jpg'}", alt="image")
                        p.mainText #{team.name[lang]}
                        if (lang != 'en')
                            p.subText #{team.name['en']}
                        .redLine

        include components/footer
