extends layouts/base

block head
    link(rel="stylesheet", href="/stylesheets/business.css")
    link(rel="stylesheet", href="/stylesheets/seven_business.css")
block body
    .container
        include components/header
        .maxBox
            .g-bigTitle 
                .text #{text.title[lang]}
            p.g-normalText(style="text-align: center") #{text.paragraph[lang]}
            #businessList
                each m_b, m_index in text.business
                    .item(class="business-#{m_index + 1}")
                        .bgImg
                        .maskTitle
                            .text #{m_b.name[lang]}
                        .detail
                            i.icon.closeBtn &#xe65c;
                            .p.headline #{m_b.name[lang]}
                            if (m_b.introduction)
                                p.g-normalText.center(style="margin-top: -10px") #{m_b.introduction[lang]}
                            .detailList
                                each s_b, s_index in m_b.sub
                                    .imageText
                                        .imgWrap
                                            img.pic(src="/images/bg_business_#{m_index + 1}_#{s_index + 1}.jpg", alt="图片")
                                        .textWrap
                                            .title #{s_b.name[lang]}
                                            .redLine
                                            .text !{s_b.detail[lang].replace(/\n/g, '<br>')}
                                            if (s_b.web)
                                                a(href="#{s_b.web}", target="_blank").website 
                                                    img.icon(src="/images/icon_website.png", alt="icon")
                                                    span #{s_b.web}

        include components/footer
                    
block script
    script(src="/javascripts/seven_business.js")
