#FLOATSITE
    .top
        .wrap
            img(src="/images/icon_top.png", alt="")
    .tips
        span 返回顶部
    .next
        .wrap
            img(src="/images/icon_next.png", alt="")

#FOOTER
    .maxBox
        span Copyright © 2020 Welon China Ltd. All rights reserved.
        br.br
        if (lang == 'cn')
            a(href="//www.beian.miit.gov.cn/" style="margin-top: 5px;") 粤ICP备07510607号
            br.br
        a.link(href="/home/#{lang}") #{lang == 'cn' ? '首页' : lang == 'hk' ? '首頁' : 'Home'}
        a.link(href="/group_business/#{lang}") #{lang == 'cn' ? '关于我们' : lang == 'hk' ? '關於我們' : 'About us'}
        a.link(href="/contact_us/#{lang}") #{lang == 'cn' ? '联系我们' : lang == 'hk' ? '聯繫我們' : 'Contact us'}