#HEADER
    .maxBox
        .top
            a(href="#{'/' + lang}")
                img.logo(src="/images/icon_logo_w.png", alt="logo")
            .langSwitcher
                a(href="en", class="#{lang == 'en' ? 'current' : ''}") EN
                a(href="hk", class="#{lang == 'hk' ? 'current' : ''}") 繁體
                a(href="cn", class="#{lang == 'cn' ? 'current' : ''}") 简体
            .menuEntry_mobile
                i.icon.list &#xe602;
                i.icon.close &#xe65c;
        .nav(data-current-index="#{currentMenu}")
            each menu,index in menus
                .menu(class="#{currentMenu == index? 'current' : ''}")
                    .mainMenu #{menu.name[lang]}
                        i.icon.arrow &#xe60c;
                    .subMenus
                        each sub in menu.sub
                            .subMenu
                                a(href="#{sub.url + '/' + lang}") #{sub.name[lang]}
            .langSwitcher
                a(href="en", class="#{lang == 'en' ? 'current' : ''}") EN
                a(href="hk", class="#{lang == 'hk' ? 'current' : ''}") 繁體
                a(href="cn", class="#{lang == 'cn' ? 'current' : ''}") 简体